@page "/AdminPortal/create"
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create Team Member Record</h3>

@*USING FORM COMPONENT CREATED EARLIER*@
<Form ButtonText="Create Team Member" emp="@emp" 
            OnValidSubmit="@CreateEmployee" />

@code 
{
    Employees emp = new Employees();
    async Task CreateEmployee()
    {
        //POST DATA TO DATABASE
        await http.PostAsJsonAsync("api/PhoneBook/CreateEmployee", emp);
       
        //ONCE INSERTED NAVIGATE TO FETCHDATA COMPONENT
        uriHelper.NavigateTo("AdminPortal"); 
    }

}
